html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #37474f;
}

.page-container {
  margin: 10px;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inline-block {
  display: inline-block;
  vertical-align: top;
}
.width-50 {
  width: 50%;
}
.width-100 {
  width: 100%;
}
.margin-0 {
  margin: 0 !important;
}
.margin-left-10 {
  margin-left: 10px;
}
.margin-left-20 {
  margin-left: 20px;
}

.mat-step-header {
  pointer-events: none !important;
}
