.election-card {
  display: inline-block;
  width: 320px;
  height: 480px;
  margin: 10px;
  vertical-align:top;
}

.election-card-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 400px;
}

mat-card-actions {
  height: 60px;
}
