.voting-step-container {
  min-height: 300px;
}
.voting-buttons {
  display: table;
  margin: 40px 8px 8px 8px;
}
.voting-buttons button {
  display: table-cell;
  margin-right: 8px;
}

.idp-list {
  margin: 20px;
}
.idp-card {
  display: inline-block;
  width: 240px;
  height: 240px;
  cursor: pointer;
}
.idp-card > mat-card-image {
  width: 240px;
  height: 160px;
}

.election-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
.election-radio-button {
  margin: 5px;
}

.vote-card {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin: 20px;
  cursor: pointer;
}
.vote-card-image {
  width: 170px;
  height: 150px;
  margin: 15px;
}
.vote-card-selected {
  background-color: #ffee58;
}

.submit-vote-button {
  width: 250px;
  height: 80px;
  font-size: 2em;
}
